
body{
	background-color: antiquewhite;
	font-family: 'Migu 1C', sans-serif;
}

.link{
}

h1{
	color: red;
	font-weight: normal;
	font-size: larger;
	margin: 0 0;
}

.main{
	margin-top: 16px;
	padding: 10px 10px;
	background-color: floralwhite;
	border: solid 1px lightsalmon;
}


.img-std
{
	width: 640px;
	height: 360px;
}


.confirm
{
	text-align: center;
}
